{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Ajouter un article{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h4>Ajout d'un article</h4>
        </div>
        {% include "includes/article_form.html.twig" %}
    </div>
{% endblock %}